* {
    font-family: Arial, Helvetica, sans-serif;
}

.contsize{
    display: grid;
    justify-content: center;
    place-content: center;
    margin: 10px;
}

.sarkaricont {
    margin: 0 10px;
    width: auto;
    /* display: grid; */
    display: inline-grid;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.navcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1010px;
    height: 175px;
    background-color: #ab183d;
}

.navtext {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    padding: 0px 202px 0px 0px;
    font-weight: 700;
    font-size: 45px;
    color: #fff;
}

.web {
    font-size: 18px;
    padding: 0px 202px 0px 0px;

}

.logo {
    margin: 20px;
}

.navbar {
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 1010px;
    /* height: 30px; */
    background-color: black;
}

.list-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    list-style-type: none;
    gap: 29px;
}

.li1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding: 0px 8px;
    /* margin: 0px 20px; */
}

.line {
    width: 1px;
    height: 35px;
    background-color: white;
}

h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;

}

.btn {
    
    justify-content: space-around;
    display: flex;
}

.ta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 270px;
    height: 40px;
    margin: 2px;
    padding: 10px;
    align-items: center;
    gap: 8px;

}
.ta1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 40px;
    margin: 2px;
    padding: 10px;
    align-items: center;
    gap: 8px;

}

.wel {
    font-size: 15px;
    font-weight: 900;
    color: red;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.lin {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
.lin2 {
    /* width: 100%; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.cento {
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
}

.ads {
    width: 1010px;
    height: 280px;
}

table {
    width: 1010px;
    height: 128px;
    border: 1px solid red;
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px;


}

td {
    width: 246.25px;
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    /* border-radius: 8px; */
    /* transition: transform 0.3s, background-color 0.3s; */
    cursor: pointer;
    height: 60px;

}

.box1 {
    background-color: #868a08;
}

.box2 {
    background-color: #03037c;
}

.box3 {
    background-color: #fb5e03;
}

.box4 {
    background-color: #8c0101;
}

.box5 {
    background-color: #fb0303;
}

.box6 {
    background-color: #0b610b;
}

.box7 {
    background-color: #ff00bf;
}

.box8 {
    background-color: #0080ff;
}

.ads2 {
    height: 250px;
}

.maincont,
.maincont1,
.maincont2 {
    border: 2px solid red;
    width: 304px;
    /* height: 1450px; */
    height: 600px;
    /* display: flex; */
    overflow: hidden;


}

.secx {
    display: flex;
    gap: 43px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

}

h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ab183d;
    color: white;
}

.list-2 {
    color: #03037c;


}

.li2 {
    /* margin: 25px 0px;
    font-size: 16px;
    line-height: 2px;
    font-weight: 400; */
    margin: 16px 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
}

.maincont-1,
.maincont-2 {
    width: 304px;
    height: 400px;
    border: 2px solid red;
    overflow: hidden;
    /* position: ; */
}

.maincont-02 {
    width: 304px;
    height: 848px;
    border: 2px solid red;
}

.duo {
    display: flex;
    gap: 54px;
    margin: 10px 0px;
}
.btn{
    display: inline-flex;
}
.foo{
    margin: 20px;
    width: 1010px;
    height: 350px;
}
.le{
    gap: 100px;
}
h4{
    font-size: 21px;
    font-weight: 750;
    display: flex;
    justify-content: center;
}
